.g-recaptcha {
    transform: scale(1.14, 1);
    -webkit-transform: scale(1.14, 1);
    transform-origin: left;
    -webkit-transform-origin: left;
}

@media screen and (max-width: 481px) {
    .g-recaptcha {
        transform: scale(1.21, 0.9);
        -webkit-transform: scale(1.1, 0.9);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
@media screen and (max-width: 461px) {
    .g-recaptcha {
        transform: scale(1.05, 0.9);
        -webkit-transform: scale(1.05, 0.9);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
@media screen and (max-width: 441px) {
    .g-recaptcha {
        transform: scale(1, 0.9);
        -webkit-transform: scale(1, 0.9);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
@media screen and (max-width: 421px) {
    .g-recaptcha {
        transform: scale(1, 0.9);
        -webkit-transform: scale(1, 0.9);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
@media screen and (max-width: 400px) {
    .g-recaptcha {
        transform: scale(0.9, 0.8);
        -webkit-transform: scale(0.9, 0.8);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
@media screen and (max-width: 380px) {
    .g-recaptcha {
        transform: scale(0.9, 0.8);
        -webkit-transform: scale(0.9, 0.8);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
@media screen and (max-width: 360px) {
    .g-recaptcha {
        transform: scale(0.87, 0.8);
        -webkit-transform: scale(0.87, 0.8);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
@media screen and (max-width: 350px) {
    .g-recaptcha {
        transform: scale(0.75, 0.8);
        -webkit-transform: scale(0.75, 0.8);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
@media screen and (max-width: 330px) {
    .g-recaptcha {
        transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
@media screen and (max-width: 320px) {
    .g-recaptcha {
        transform: scale(0.75, 0.8);
        -webkit-transform: scale(0.75, 0.8);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
@media screen and (max-width: 300px) {
    .g-recaptcha {
        transform: scale(0.7, 0.8);
        -webkit-transform: scale(0.7, 0.8);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
@media screen and (max-width: 280px) {
    .g-recaptcha {
        transform: scale(0.6, 0.8);
        -webkit-transform: scale(0.6, 0.8);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
